{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 200,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "proseWrap": "preserve"
}
